@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$basecolor: #f2e4d9;
$subcolor: #accd00;
$keycolor1: #00c9b9;
$keycolor2: #eded8f;
$fontcolor: #4f342a;

/*Base
-------------------------------*/
html{ font-size: 62.5%; }

body{
 color: $fontcolor; 
 background-color: $basecolor;
}

// Align
.text-center{
  text-align: center;
}

// font
.baloo_tamma{
  font-family: 'Baloo Tamma', cursive;
}
.uppercase{
  text-transform: uppercase;
}
h1{
  font-size: 3.2rem;
}
/*-----------------------------
Base*/

//header
.flexible-images{
    height:auto;
    width: 100%;
    background-size:cover;
    background-position: center center;
}

@media(max-width: 768px){
  .flex-images{
    background-image: url("img_heder_mobile.jpg");
  }
}

.heder_text{
  text-align: center;
  padding: 10px;
  margin: 10px auto 0px auto;
}


// main content
@media (max-width: 768px){
  .content-box-common{
    max-width:100%;
    height: auto;
    padding: 10px;
    @include flex-direction(column);
  }
}
 
  .content-box-common{
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  .content-box{
    max-width: 100%;
    height: auto;
    margin: 10px;
    background-color: $keycolor1;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-flex: 1;
              flex: 1;}
  
  .content-title-box{
    font-size: 35px;
    max-width: 100%;
    height: auto;
    padding: 10px 0px;
    margin: 0px;
    text-align: center;
    background-color: $subcolor;
  }
  
  .content-text-box{
    font-size: 20px;
    max-width: 100%;
    min-height: 150px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    // background-color: $keycolor1;
  }

  
.flex-box {
  display: -webkit-flex;
  display:         flex;
}


// .main h1{
//     font-size: 500px;
// }

.footer-box{
  width: auto;
  height: 130px;
  padding: 10px;
  background-position: center center;
  background-color: $keycolor2;
}

.footer-text-box{
  padding: 10px;
  margin: 15px;
}

.footer-button-box{
  padding: 10px;
  margin: 10px;
}

.footer-button{
  font-size: 20px;
  width: 30%;
  height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background-color: #a78ec3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link{
  text-decoration: none;
}

